#!/usr/bin/expect -f
set timeout -1
spawn mysql_secure_installation
expect "none):"
send -- "\r"
expect "/n]"
send -- "Y\n"
expect "/n]"
send -- "Y\n"
expect "password:"
send -- "{{database_password}}\n"
expect "password:"
send -- "{{database_password}}\n"
expect "/n]"
send -- "Y\n"
expect "/n]"
send -- "Y\n"
expect "/n]"
send -- "Y\n"
expect "/n]"
send -- "Y\n"
expect eof